<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/min.css"> </head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="container clearfix">
                <div class="logo">
                    <a href="#"><img src="../img/logo.png" alt="" height="28" width="79"></a>
                </div>
                <ul class="nav">
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="#services">Services</a> </li>
                    <li> <a href="#portfolio">Portfolio</a> </li>
                    <li> <a href="#about">About</a> </li>
                    <li> <a href="#contact">Contact</a> </li>
                    <li> <a href="#top" class="topLink">&#8679;</a> </li>
                </ul>
            </div>
        </div>
        <div id="home" name="home">
            <div class="container">
                <h3>Welcome To Our Studio!</h3>
                <h1>It’s nice to Meet you</h1>
                <a href="#portfolio"><button class="btn btn__home">Tell Me More</button></a>
            </div>
        </div>
        <div id="services" class="box" name="services">
            <div class="container">
                <h2 class="title">Services</h2>
                <p class="descr">Proin iaculis purus consequat sem cure.</p>
                <div class="services-wrap clearfix">
                    <div class="services-item ecommerce">
                        <h5 class="title">E-Commerce</h5>
                        <p class="text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit</p>
                    </div>
                    <div class="services-item responsive">
                        <h5 class="title">Responsive Web</h5>
                        <p class="text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit</p>
                    </div>
                    <div class="services-item security">
                        <h5 class="title">Web Security</h5>
                        <p class="text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio" class="box" name="portfolio">
            <div class="container">
                <h2 class="title">Our portfolio</h2>
                <p class="descr">Proin iaculis purus consequat sem cure.</p>
                <div class="portfolio-wrap clearfix">
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item1.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Ebony & Ivory</h5> <span>Branding</span></div>
                    </div>
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item2.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Smart Stationary</h5> <span>Print Design</span></div>
                    </div>
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item3.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Clever Poster</h5> <span>Print Design</span> </div>
                    </div>
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item4.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Vinyl Record</h5> <span>Product Mock-Up</span></div>
                    </div>
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item5.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Vinyl Record</h5> <span>Web Design</span></div>
                    </div>
                    <div class="portfolio-item">
                        <a href=""><img src="../img/portfolio/p-item6.jpg" alt=""></a>
                        <div class="p-item-footer">
                            <h5 class="title">Burned Logo </h5> <span>Branding</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="box" name="about">
            <div class="container">
                <h2 class="title">About Us</h2>
                <p class="descr">Proin iaculis purus consequat sem cure.</p>
                <div class="about-wrap">
                    <div class="about-item clearfix">
                        <div class="about-text left text-right">
                            <h5 class="title"><span>July 2010 </span><br>Our Humble Beginnings
                            </h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                        </div>
                        <div class="adout-img left"> <img src="../img/about/about-title1.png" alt=""> </div>
                        <div class="none"></div>
                    </div>
                    <div class="about-item clearfix">
                        <div class="about-text right text-left">
                            <h5 class="title"><span>July 2010 </span><br>Our Humble Beginnings
                            </h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                        </div>
                        <div class="adout-img right"> <img src="../img/about/about-title2.png" alt=""> </div>
                        <div class="none"></div>
                    </div>
                    <div class="about-item clearfix">
                        <div class="about-text left text-right">
                            <h5 class="title"><span>July 2010 </span><br>Our Humble Beginnings
                            </h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                        </div>
                        <div class="adout-img left"> <img src="../img/about/about-title3.png" alt=""> </div>
                        <div class="none"></div>
                    </div>
                    <div class="about-item clearfix">
                        <div class="about-text right text-left">
                            <h5 class="title"><span>July 2010 </span><br>Our Humble Beginnings
                            </h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                        </div>
                        <div class="adout-img right"> <img src="../img/about/about-title4.png" alt=""> </div>
                        <div class="none"></div>
                    </div>
                    <a href="#" class="about-link">
                        <p>Our
                            <br> Story
                            <br> Continues
                            <br>... </p>
                    </a>
                </div>
            </div>
        </div>
        <div id="team" class="box">
            <div class="container">
                <h2 class="title">our amazing team</h2>
                <p class="descr">Proin iaculis purus consequat sem cure.</p>
                <div class="team-wrap clearfix">
                    <div class="team-iteam"> <img src="../img/team/1.png" height="220" width="220" alt="">
                        <h5 class="title">Kimberly Thompson</h5>
                        <p class="cat">Marketer</p>
                        <div class="social"> <a href="#" class="ic-tw">&nbsp;</a> <a href="#" class="ic-fb">&nbsp;</a> <a href="#" class="ic-pn">&nbsp;</a> </div>
                    </div>
                    <div class="team-iteam"> <img src="../img/team/2.png" height="220" width="220" alt="">
                        <h5 class="title">Rico Massimo</h5>
                        <p class="cat">Coder</p>
                        <div class="social"> <a href="#" class="ic-tw">&nbsp;</a> <a href="#" class="ic-fb">&nbsp;</a> <a href="#" class="ic-gp">&nbsp;</a> </div>
                    </div>
                    <div class="team-iteam"> <img src="../img/team/3.png" height="220" width="220" alt="">
                        <h5 class="title">Uku Mason</h5>
                        <p class="cat">Graphic Designer</p>
                        <div class="social"> <a href="#" class="ic-tw">&nbsp;</a> <a href="#" class="ic-fb">&nbsp;</a> <a href="#" class="ic-pn">&nbsp;</a> </div>
                    </div>
                </div>
                <p class="descr team-info">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                    <br> aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
            </div>
        </div>
        <div id="brand">
            <div class="container">
                <a href="#"><img src="../img/brand/elevato.png" alt=""></a>
                <a href="#"><img src="../img/brand/wordpress.png" alt=""></a>
                <a href="#"><img src="../img/brand/tuts.png" alt=""></a>
                <a href="#"><img src="../img/brand/microlancer.png" alt=""></a>
            </div>
        </div>
        <div id="contact" name="contact" class="box">
            <div class="container">
                <h2 class="title">Contact us</h2>
                <p class="descr">Proin iaculis purus consequat sem cure.</p>
                <form action="#" id="message">
                    <div class="clearfix">
                        <div class="left">
                            <input class="message__name" type="text" placeholder="your Name *">
                            <input  class="message__email" type="text" placeholder="your e-mail *">
                            <input  class="message_subject" type="text" placeholder="subject"></div>
                        <div class="right">
                            <textarea  class="message__text" name="textarea" id="" placeholder="Your message *" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <input class="btn contact__btn" type="submit" value="Send Message"> </form>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <p class="left"> &copy; Copyright 2014 FreebiesXpress.com</p>
                <div class="social"> <a href="#" class="ic-tw">&nbsp;</a> <a href="#" class="ic-fb">&nbsp;</a> <a href="#" class="ic-pn">&nbsp;</a> <a href="#" class="ic-gp">&nbsp;</a> </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        let c1 = new Scroll("body");
        
        $(function () {
            $('a').mouseenter(function () {
                $('path', this).attr('fill', '#ccc');
            }).mouseleave(function () {
                $('path', this).attr('fill', '#fff');
            });
        });
    </script>
</body>

</html>